body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}