body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 1em;
}

img {
  display: inline-block;
  object-fit: cover;
}

/* ==================== 
==== Header Styles ====
===================== */

header {
  background-color: #F17300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2em 0;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.33);
  padding: 2em 3em;
}

header a {
  text-decoration: none;
  color: white;
}

.header-icon {
    float: right;
    color: white;
    cursor: pointer;
}

.header-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  margin: 0;
}

/* ======================== 
==== Storefront Styles ====
======================== */

.storefront-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ===================== 
==== Product Styles ====
====================== */
 
.product-card {
  display: flex;
  flex-direction: column;
  width: 10em;
  margin: 3em;
  position: relative;
}

.hovered-product-card {
    position: absolute;
    z-index: 1;
    background-color: rgba(241, 115, 0, .9);
    text-align: center;
    height: 100%;
    width: 100%;
    top: -1em;
    left: -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    padding: 1em;
}

.hovered-price {
    color: white;
    opacity: 1;
    font-size: 2rem;
}

.btn {
  border: none;
  border-radius: 1em;
  background-color: #0B3954;
  padding: .5em 1em;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1);
  transition: transform 50ms;
}


.btn:hover,
.btn:focus, 
.btn:active  {
  background-color: #71F79F;
  color: #0B3954;
  transform: scale(1.08);
  border: none;
  outline: none;
}

/* ==================== 
==== Cart Styles ======
======================= */

.ri-delete-bin-6-fill {
  cursor: pointer;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0em 5em;
  border-bottom: 1px #b4c5e4 solid;
}

.cart-item-title {
  margin: .5em 1em;
}

.total-cost {
  padding: 2em 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.checkout-btn {
  font-size: 1.3em;
  margin-bottom: 2em;
}

